      .conteiner {
          width: 300px;
          height: 300px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          background-color: transparent;
          padding: 30px;
          gap: 10px;
          background-color: #F0F6F6;
          border: 2px solid black;
          border-radius: 15px;
      }
       body {
          background-color: #488FA0;
          color: #F0F6F6;
          font-weight: 800;
          overflow: hidden;
      }

      .info {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          flex-direction: column;
          border-radius: 15px;
      }

      .div1:hover {
          transform: scale(1.1);
          transition: 0.3s;
      }

      .div1 {
          border-radius: 10px;
          border: 1px solid #d10e0e;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 30px;
          font-weight: bold;
      }